# Python for biologists

## Tutorial Intro --> Basic Python syntax and objects

*by Tobias Andermann*
________________________

### Strings
Define a string:

In [46]:
my_string = 'I FREAKING LOVE PROGRAMMING'

You can use the `print()` function to print any object to the screen, e.g.:

In [47]:
print(my_string)

I FREAKING LOVE PROGRAMMING

Create a string consisting of N repititions of a character, e.g. 50 repitions of the string we defined above:

In [51]:
my_string*50

'I FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMINGI FREAKING LOVE PROGRAMMING'

Define a string containing a variable:

In [52]:
string_with_variable = 'I used to say: %s' %my_string
print(string_with_variable)

I used to say: I FREAKING LOVE PROGRAMMING

In the command above we used `%s` as a spaceholder for a **s**tring that we define after the quotation marks. If we want to insert an **i**nteger instead, the spaceholder would be `%i`, while for a **f**loat it woudl be `%f`. If you are inserting multiple variables into a string, you need to list these in parantheses after the quotation marks. See the following example:

In [53]:
name = 'Olaf'
age = 30
time = 3.8
statement = "My name is %s, I'm %i years old and I can run 1000m in %f minutes." %(name,age,time)
print(statement)

My name is Olaf, I'm 30 years old and I can run 1000m in 3.800000 minutes.

You see that the float is by default expressed with 6 decimal points accuracy. In the example above that is not necessarily how we want to express it, but instead we would prefer only one decimal point. You can format a float within a string using the notation `%.Nf`, where N is the number of decimal points, which would be `1` in our case:

In [54]:
statement = "My name is %s, I'm %i years old and I can run 1000m in %.1f minutes." %(name,age,time)
print(statement)

My name is Olaf, I'm 30 years old and I can run 1000m in 3.8 minutes.

Select part of a string, e.g. the 9th-15th letter. Python starts counting with 0 and the last element in the brackets is the upper boundary but is not within the selection (standard for all programming languages, except R).

In [55]:
statement[8:15]

'is Olaf'

Select everything starting from the 6th character:

In [56]:
statement[5:]

"me is Olaf, I'm 30 years old and I can run 1000m in 3.8 minutes."

Print only the last chracter of the string:

In [57]:
statement[-1]

'.'

Print the last 8 characters of the string

In [58]:
statement[-8:]

'minutes.'

The `.replace()` function is native to python and does not need any special package import. It can be applied to any string object in order to replace one character with another. If you want to replace all `T`s in a string (`my_string`) with `X`s, you can use this command like this:

In [59]:
statement.replace('e','X')

"My namX is Olaf, I'm 30 yXars old and I can run 1000m in 3.8 minutXs."

The `replace()` function only takes a single character to be replaced. If you want to replace multiple characters at the same time or introduce regular expressions (e.g. replace all numbers in a string) you can use the `sub()` function of the `re` package (`import re`). We can use it e.g. to replace everything that's not a vowel or a space. The `^` at the beginning of the expression in parantheses tells the function to **replace everything except** the following characters:

In [60]:
import re
re.sub('[^AEIOUYaeiouy ]','N',statement)

'Ny NaNe iN ONaNN INN NN yeaNN oNN aNN I NaN NuN NNNNN iN NNN NiNuNeNN'

________________

### Lists
Define a list:

In [61]:
my_list = ['this','is','a','list']

Use the `print()` function to print your list to the screen:

In [62]:
print(my_list)

['this', 'is', 'a', 'list']

Select a list element, e.g. the second element (same indexing logic as described in the string-section above):

In [63]:
my_list[1]

'is'

Turn a string into a list by splitting it at a given character, e.g. at each whitespace (let's use the stirng we defined at the beginning of the tutorial called `my_string`):

In [65]:
new_list = my_string.split(' ')
new_list

['I', 'FREAKING', 'LOVE', 'PROGRAMMING']

Replace the last list element:

In [66]:
new_list[-1] = 'PYTHON'
new_list

['I', 'FREAKING', 'LOVE', 'PYTHON']

Add element to a list

In [67]:
new_list.append('BECAUSE')
new_list

['I', 'FREAKING', 'LOVE', 'PYTHON', 'BECAUSE']

Concatenate two lists

In [68]:
another_list = ['IT','IS','BETTER','THAN','R']
concatenated_list = new_list + another_list
concatenated_list

['I',
 'FREAKING',
 'LOVE',
 'PYTHON',
 'BECAUSE',
 'IT',
 'IS',
 'BETTER',
 'THAN',
 'R']

Turn a list into a string:

In [69]:
new_string = ' '.join(concatenated_list)
new_string

'I FREAKING LOVE PYTHON BECAUSE IT IS BETTER THAN R'

______________

### Arrays
Arrays are similar to lists but are much handier when working with numbers (floats or integers). The numpy package offers many useful functions for arrays.

If numpy is not already installed, you can simply run the following command in your jupyter notebook or bash command line (without the `%%bash` in commandline mode):

```
%%bash
pip install numpy
```

Generate a random float between 0 and 1:

In [73]:
import numpy as np
np.random.random()

0.38374018374073227

Create an array with 20 random floats between 0 and 1 using numpy.

In [75]:
my_array = np.random.uniform(0,1,20)
print(my_array)

[0.47750634 0.957898   0.13446265 0.95725371 0.98212073 0.14711651
 0.8132446  0.68178181 0.6738967  0.84822606 0.45995126 0.32904901
 0.42217191 0.41108303 0.30698508 0.75417401 0.91887257 0.97969576
 0.95271902 0.9119372 ]

Calculate the mean of the array:

In [76]:
np.mean(my_array)

0.6560072975081821

Calculate standard deviation:

In [77]:
np.std(my_array)

0.2857100541279064

Generate a random integer between 0 and 99 (Note: upper boundary is outside of sample):

In [78]:
np.random.randint(0,100)

51

Generate 20 random integers between 0 and 99:

In [79]:
np.random.randint(0,100,20)

array([61, 46, 92, 63, 56, 77, 54, 24, 99, 30, 57,  9,  2, 88, 15, 29, 13,
       64, 32, 45])

<div class="alert alert-block alert-warning">
**Task:** Simulate 10, 100, 1000, 10000, 100000 dice throws (1-6) and calculate the mean value (= expected value). What do you observe with increasing sample sizes?
</div>

### General tools
You can check the type of an object by typing:

In [11]:
type(my_list)

list

Basic 'for' loop syntax (**mind the indentation, very important, usually 4 whitespaces or one \t**)

In [ ]:
for step in list_of_steps:
    #do whatever

The `range()` function is very handy in combination with for-loops. Let's create a loop that iterates through the numbers 0-20

In [98]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

You can also iterate through an existing list, e.g. our list `concatenated_list` from above. Let's also define a simple counter, to which we add `1` in every round, thereby keeping track of the number of repititions in our loop:

In [109]:
counter = 0
for word in concatenated_list:
    counter = counter + 1
    print('Word %i: %s'%(counter,word))

Word 1: I
Word 2: FREAKING
Word 3: LOVE
Word 4: PYTHON
Word 5: BECAUSE
Word 6: IT
Word 7: IS
Word 8: BETTER
Word 9: THAN
Word 10: R

Sometimes you want to iterate through a list and save some variable every round. An easy way to do this is to append a variable to a list in every iteration. For this we first define an empty list at the beginning of the loop and then append new values to it every iteration.

Say we want to iterate through the numbers 0-20 and record the sum of all previous numbers in every round. That would look as follows:

In [104]:
sum_list = [0]
for i in range(21):
    new_sum = i + sum_list[-1]
    sum_list.append(new_sum)
print(sum_list)

[0, 0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210]


<div class="alert alert-block alert-warning">
**Task:** Create a loop that prints an increasing number of words of a sentence. You can use the sentence:

`If I can do this I am mastering the basic syntax of python.`
</div>




<div class="alert alert-block alert-success">
**Tip:** In order to iterate through the words of a string you first have to turn the string into a list. For this you can use the `split()` function from earlier in the tutorial, and split the string at each whitespace `' '` character.
</div>


The output should lool like this:

['If']
['If', 'I']
['If', 'I', 'can']
['If', 'I', 'can', 'do']
['If', 'I', 'can', 'do', 'this']
['If', 'I', 'can', 'do', 'this', 'I']
['If', 'I', 'can', 'do', 'this', 'I', 'am']
['If', 'I', 'can', 'do', 'this', 'I', 'am', 'mastering']
['If', 'I', 'can', 'do', 'this', 'I', 'am', 'mastering', 'the']
['If', 'I', 'can', 'do', 'this', 'I', 'am', 'mastering', 'the', 'basic']
['If', 'I', 'can', 'do', 'this', 'I', 'am', 'mastering', 'the', 'basic', 'syntax']
['If', 'I', 'can', 'do', 'this', 'I', 'am', 'mastering', 'the', 'basic', 'syntax', 'of']
['If', 'I', 'can', 'do', 'this', 'I', 'am', 'mastering', 'the', 'basic', 'syntax', 'of', 'python.']